.app-background {
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
}

.app-container {
  max-width: 750px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
}

.note-textarea {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  resize: none;
}

.note-list-container {
  max-height: 350px;
  overflow-y: auto;
  padding-right: 5px;
}

.note-card {
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  border-radius: 12px;
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #00ccffff;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.note-text {
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}
